<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <title>LED Switcher</title>
   <style>
      body{
         background-color: black;
         text-align: center;
         font-family:Arial, Helvetica, sans-serif;
         color:yellow;
      }
      h3{
         color:white;
      }
      .button{
         font-size: 50px;
      }
      a{
         color:red;
      }
   </style>
</head>

<body>
   <h1› Welcome to the LED switcher </h1>
      <h3>Right now the led is <b> {% if state%} ON {% else %} OFF {% endif %}</b></h3>
      ‹div class="button"> 
         {% if state%}
            ‹a href="/off"›‹h2>0N</h2>‹/a>
         {% else %}
            <a href="/on"›<h2›0FF</h2></a> 
         {% endif %;
      </div>
</body>
</html>

